:root {
    --bg1: #6880ea;
    --bg2: #a7baff;
    --bg3: #e0e7ff;
    --accent1: #1f6ff9;
    --accent2: #0b4ab5;
    --txt: #000000;
}
html {
    font-size: 12px;
}
body {
    color: var(--txt);
    background-color: var(--bg1);
}
body, button, input {
    font-family: "Rowdies", sans-serif;
    letter-spacing: -0.25px;
    font-weight: 300;
    line-height: 1;
    font-size: 1em;
}


/* RESETS */
* {
    min-width: 0px;
    box-sizing: border-box;
}

body,
h1, h2, h3, h4, h5,
span, p, ul, li {
    margin: 0;
    line-height: 1;
}
h1, h2, h3, h4, h5 {
    margin: 0.5em 0;
    line-height: 0.9;
    font-weight: 400;
    letter-spacing: -0.5px;
}
h1, h2, h3 {
    text-align: center;
}
h1 {
    font-size: 1.75em;
}
h2 {
    font-size: 1.25em;
}


img {
    display: block;
    width: 100%;
    height: auto;
}

.rel {
    position: relative;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

header, nav {
    padding: 2.5rem 1.75rem 1rem;
    user-select: none;
    transition: padding 0.5s ease;
}
header[size="large"] {
    padding-top: 5rem;
}

header #logo {
    position: relative;
    top: -2rem;
    left: 45%;
    transform: translateX(-50%);
    width: 16rem;
    transition: 0.5s ease;
    will-change: width, height, top, left;
    pointer-events: none;
}
header[size="small"] #logo {
    width: 10rem;
    top: -1rem;
    left: 50%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding-top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    transition: opacity 0.4s;
}
header[jeu="off"] .btn-nav#jeu_reload {
    opacity: 0;
    pointer-events: none;
}

.btn-nav {
    cursor: pointer;
    padding: 0.5rem;
    box-sizing: content-box;
    opacity: 1;
    transition: opacity 0.4s;
}
.btn-nav svg {
    font-size: 1.75rem;
    width: 1em;
    height: 1em;

    fill: none;
    stroke: var(--bg3);
    stroke-width: 3px;
    stroke-linecap: round;
}
.btn-nav#jeu_rules svg {
    overflow: visible;
    width: 1.75em;
    height: 1.25em;
    stroke-width: 2px;
    stroke-width: 1.5px;
}

.btn {
    background-color: var(--bg3);
    color: var(--accent1);
    font-weight: 400;
    letter-spacing: -0.5px;
    font-size: 1.75rem;
    padding: 1em;
    margin: 2em 0 1em;
    width: 100%;
    border: 0;
    border-radius: 16px;
    outline: 0;
    cursor: pointer;
    will-change: filter, transform;
    -webkit-tap-highlight-color: transparent;
}

*[class*="btn"] {
    filter: brightness(1);
    transform: scale(1);
    transition: 0.25s;
}
*[class*="btn"]:active {
    transform: scale(0.95);
    transition: 0.035s;
}
.btn:hover {
    filter: brightness(1.15);
}
.btn:active {
    filter: brightness(0.95);
}



/* CONTENT */
main {
    position: relative;
    width: 100%;
    margin: 1.5rem 0;
    font-size: 1.75em;
}
screen {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 3rem);
    display: block;
    margin: 1rem 1.5rem;
    padding: 3rem;
    background-color: var(--bg2);
    border-radius: 24px;
    transform: translateY(0);
    transition: 0.7s cubic-bezier(0.3, 0.5, 0, 1), opacity 0.3s ease;
    transition-delay: 0.35s;
}
screen:not([display="true"]) {
    transition-delay: 0s;
    pointer-events: none;
    user-select: none;
    transform: translateY(2.5rem);
    opacity: 0;
}

@keyframes anim-jump {
    0% { top: 0em; }
    30% { top: -0.35em; }
    0% { top: 0em; }
}
screen.anim-jump {
    animation: anim-jump 0.35s ease forwards;
}

.user-input-text {
    position: relative;
}

input {
    background-color: var(--bg3);
    padding: 0.75em;
    margin: 1.75rem 0;
    border: 0;
    border-radius: 16px;
    width: 100%;
    text-align: center;
}
input[type="range"] {
    margin: 0;
}

input + label {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.2s;
    pointer-events: none;
    user-select: none;
    opacity: 1;
}
input:focus + label,
input:not(:placeholder-shown) + label {
    position: absolute;
    top: 0.5rem;
    transform: translateY(-50%) scale(0.8);
    opacity: 0.75;
}

#joueursNb {
    margin-top: 4rem;
    font-size: 1.5em;
    text-align: center;
    display: block;
}



/* JEU */
#jeu_joueur_actif {
    text-align: center;
}
#jeu_joueur_actif #joueur_actif {
    font-weight: 400;
    color: var(--accent2);
}


#jeu_ordre {
    position: relative;
    display: flex;
    align-items: start;
    justify-content: start;
    font-size: 1.25em;
    margin-top: 3rem;
}

#jeu_ordre .col {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    flex-shrink: 0;
}
#jeu_ordre .col span {
    box-sizing: content-box;
    display: block;
    margin: 0.15em;
    padding: 0.15em;
    border: 3px solid transparent;
    border-radius: 999em;
}

#jeu_ordre .nombres span {
    position: relative;
    color: var(--accent2);
    font-weight: 400;
    width: 1em;
    height: 1em;
    text-align: center;
    transform: scale(0.95);
    opacity: 1;
    transition: 0.4s ease;
    will-change: transform, border, color, opacity;
}
#jeu_ordre .nombres span::after {
    content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.447 22.447"><polyline style="stroke-width:3px; stroke:rgb(11, 74, 181); fill:transparent;" points="7.664 3.224 16.484 11.224 7.664 19.224" /></svg>');
    position: absolute;
    top: 50%;
    left: 70%;
    opacity: 0;
    transform: translateY(-50%) scaleY(0.6);
    width: 1em;
    height: 1em;
    color: var(--accent2);
    transition: 0.4s ease, opacity 0.3s ease, transform 0.3s ease;
    will-change: transform, left, opacity;
}

#jeu_ordre .noms span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 66dvw;
    transform: translateX(0em);
    opacity: 0.5;
    transition: 0.4s ease;
    will-change: transform, color, opacity;
}

#jeu_ordre .nombres span.active {
    border-color: var(--accent1);
    color: var(--txt);
    transform: scale(1.1);
}
#jeu_ordre .nombres span.active::after {
    left: 120%;
    opacity: 1;
    transform: translateY(-50%) scaleY(1);
}
#jeu_ordre .noms span.active {
    transform: translateX(1em);
    opacity: 1;
}

@keyframes fade {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

#jeu_ordre .nombres .in {
    position: absolute;
    left: 0;
    bottom: 100%;
    animation: fade 0.3s reverse forwards;
}
#jeu_ordre .nombres .out {
    animation: fade 0.2s forwards;
}

#jeu_ordre .nombres {
    transform: translateY(0);
}
#jeu_ordre .nombres.move {
    transform: translateY(1.8em);
    transition: transform 0.4s ease;
}
